<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.rule.mapper.RuleDesignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="org.tiankafei.rule.entity.RuleDesignEntity">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="expression" property="expression"/>
        <result column="javascript" property="javascript"/>
        <result column="expression_dto" property="expressionDto"/>
        <result column="error_expression" property="errorExpression"/>
        <result column="error_javascript_list" property="errorJavascriptList"/>
        <result column="error_expression_list" property="errorExpressionList"/>
        <result column="target_expression" property="targetExpression"/>
        <result column="target_expression_dto" property="targetExpressionDto"/>
        <result column="lock_expression" property="lockExpression"/>
        <result column="lock_expression_dto" property="lockExpressionDto"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="voResultMap" type="org.tiankafei.rule.vo.RuleDesignVo">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="expression" property="expression"/>
        <result column="javascript" property="javascript"/>
        <result column="expression_dto" property="expressionDto"/>
        <result column="error_expression" property="errorExpression"/>
        <result column="error_javascript_list" property="errorJavascriptList"/>
        <result column="error_expression_list" property="errorExpressionList"/>
        <result column="target_expression" property="targetExpression"/>
        <result column="target_expression_dto" property="targetExpressionDto"/>
        <result column="lock_expression" property="lockExpression"/>
        <result column="lock_expression_dto" property="lockExpressionDto"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id
        , code, name, type, expression, javascript, expression_dto, error_expression, error_javascript_list, error_expression_list, target_expression, target_expression_dto, lock_expression, lock_expression_dto
    </sql>

    <!-- 校验 系统规则设计对象 是否已经存在 -->
    <select id="checkRuleDesignServiceExists" resultType="java.lang.Boolean">

    </select>

    <!-- 保存 系统规则设计对象 -->
    <select id="addRuleDesignService" resultType="java.lang.Object">

    </select>

    <!-- 批量保存 系统规则设计对象 -->
    <select id="batchAddRuleDesignService" resultType="java.lang.Object">

    </select>

    <!-- 删除 系统规则设计对象 -->
    <select id="deleteRuleDesignService" resultType="java.lang.Boolean">

    </select>

    <!-- 批量删除 系统规则设计对象 -->
    <select id="batchDeleteRuleDesignService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据条件删除 系统规则设计对象 -->
    <select id="conditionDeleteRuleDesignService" resultType="java.lang.Boolean">

    </select>

    <!-- 修改 系统规则设计对象 -->
    <select id="updateRuleDesignService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据ID获取 系统规则设计对象 对象 -->
    <select id="getRuleDesignServiceById" resultMap="voResultMap">

    </select>

    <!-- 获取 系统规则设计对象 对象列表 -->
    <select id="getRuleDesignServiceList" resultMap="voResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_rule_design
        <where>
            <if test="param.idList != null and param.idList.size != 0">
                and id in
                <foreach collection="param.idList" item="id" separator="," index="index" open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 获取 系统规则设计对象 分页对象列表 -->
    <select id="getRuleDesignServicePageList" resultMap="voResultMap">
        select
        id
        from sys_rule_design
        <where>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 计算 系统规则设计对象 总记录数 -->
    <select id="countRuleDesignService" resultType="java.lang.Integer">

    </select>

</mapper>
