<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.rule.mapper.RuleViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="org.tiankafei.rule.entity.RuleViewEntity">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="expression" property="expression"/>
        <result column="error_expression" property="errorExpression"/>
        <result column="target_expression" property="targetExpression"/>
        <result column="lock_expression" property="lockExpression"/>
        <result column="version" property="version"/>
        <result column="delete_mark" property="deleteMark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="voResultMap" type="org.tiankafei.rule.vo.RuleViewVo">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="expression" property="expression"/>
        <result column="error_expression" property="errorExpression"/>
        <result column="target_expression" property="targetExpression"/>
        <result column="lock_expression" property="lockExpression"/>
        <result column="version" property="version"/>
        <result column="delete_mark" property="deleteMark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id
        , code, name, type, status, expression, error_expression, target_expression, lock_expression, version, delete_mark, create_time, update_time, create_user_id, update_user_id, tenant_id
    </sql>

    <!-- 校验 系统规则设计表达式显示对象 是否已经存在 -->
    <select id="checkRuleViewServiceExists" resultType="java.lang.Boolean">

    </select>

    <!-- 保存 系统规则设计表达式显示对象 -->
    <select id="addRuleViewService" resultType="java.lang.Object">

    </select>

    <!-- 批量保存 系统规则设计表达式显示对象 -->
    <select id="batchAddRuleViewService" resultType="java.lang.Object">

    </select>

    <!-- 删除 系统规则设计表达式显示对象 -->
    <select id="deleteRuleViewService" resultType="java.lang.Boolean">

    </select>

    <!-- 批量删除 系统规则设计表达式显示对象 -->
    <select id="batchDeleteRuleViewService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据条件删除 系统规则设计表达式显示对象 -->
    <select id="conditionDeleteRuleViewService" resultType="java.lang.Boolean">

    </select>

    <!-- 修改 系统规则设计表达式显示对象 -->
    <select id="updateRuleViewService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据ID获取 系统规则设计表达式显示对象 对象 -->
    <select id="getRuleViewServiceById" resultMap="voResultMap">

    </select>

    <!-- 获取 系统规则设计表达式显示对象 对象列表 -->
    <select id="getRuleViewServiceList" resultMap="voResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_rule_view
        <where>
            <if test="param.idList != null and param.idList.size != 0">
                and id in
                <foreach collection="param.idList" item="id" separator="," index="index" open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 获取 系统规则设计表达式显示对象 分页对象列表 -->
    <select id="getRuleViewServicePageList" resultMap="voResultMap">
        select
        id
        from sys_rule_view
        <where>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 计算 系统规则设计表达式显示对象 总记录数 -->
    <select id="countRuleViewService" resultType="java.lang.Integer">

    </select>

</mapper>
