package $!{cfg.paramPackage};

#if($!{swagger2})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
import java.io.Serializable;
###if($!{entityLombokModel})
import lombok.Data;
import lombok.experimental.Accessors;
###end

/**
 * <pre>
 * $!{table.comment} 分页参数对象
 * </pre>
 *
 * @author $!{author}
 * @since 1.0
 */
###if($!{entityLombokModel})
@Data
@Accessors(chain = true)
###end
#if($!{swagger2})
@ApiModel(value = "$!{table.comment} 检查是否存在参数对象")
#end
public class $!{cfg.checkParamClassName} implements Serializable {

    private static final long serialVersionUID = 1L;

#if($!{swagger2})
@ApiModelProperty(value = "主键id")
#else
/**
 * 主键id
 */
#end
private $!{cfg.keyColumnType} id;

}
