package $!{package.Controller};

import java.util.List;
import javax.validation.Valid;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PatchMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
#if($!{swagger2})
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
#end

#if($!{restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
import $!{package.Entity}.$!{entity};
import $!{cfg.paramPackage}.$!{cfg.checkParamClassName};
import $!{cfg.paramPackage}.$!{cfg.countParamClassName};
import $!{cfg.paramPackage}.$!{cfg.deleteParamClassName};
import $!{cfg.paramPackage}.$!{cfg.pageParamClassName};
import $!{cfg.paramPackage}.$!{cfg.listParamClassName};
import $!{package.Service}.$!{table.serviceName};
import $!{cfg.voPackage}.$!{cfg.voClassName};
import $!{cfg.apiResultClassPath};
#else
import org.springframework.stereotype.Controller;
#end
#if($!{superControllerClassPackage})
import $!{superControllerClassPackage};
#end
import $!{cfg.idsParamClassPath};
import $!{cfg.pageClassPath};

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author $!{author}
 * @since 1.0
 */
#if($!{restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("/$!{cfg.requestContext}")
#if($!{swagger2})
@Api(value = "$!{table.comment} API", tags = {"$!{table.comment}"})
#end
#if($!{kotlin})
class $!{table.controllerName}#if($!{superControllerClass}) : $!{superControllerClass}()#end

#else
#if($!{superControllerClass})
public class $!{table.controllerName} extends $!{superControllerClass} {
#else
public class $!{table.controllerName} {
#end

    @Autowired
    private $!{table.serviceName} $!{cfg.serviceConstName};

	@PostMapping("/check")
#if($!{swagger2})
	@ApiOperation(value = "校验 $!{table.comment} 对象是否存在")
#end	
	public ApiResult<Boolean> check$!{table.controllerName}Exists(@Valid @RequestBody $!{cfg.checkParamClassName} $!{cfg.checkParamConstName}) throws Exception {
		Boolean flag = $!{cfg.serviceConstName}.check$!{table.serviceName}Exists($!{cfg.checkParamConstName});
		return ApiResult.ok(flag);
	}

	@PostMapping
#if($!{swagger2})
	@ApiOperation(value = "添加 $!{table.comment}")
#end	
	public ApiResult<$!{cfg.keyColumnType}> add$!{table.controllerName}(@Valid @RequestBody $!{cfg.voClassName} $!{cfg.voConstName}) throws Exception {
		$!{cfg.keyColumnType} id = $!{cfg.serviceConstName}.add$!{table.serviceName}($!{cfg.voConstName});
		return ApiResult.ok(id);
	}
	
	@PostMapping("/batch")
#if($!{swagger2})
	@ApiOperation(value = "批量添加 $!{table.comment}")
#end	
	public ApiResult<List<$!{cfg.keyColumnType}>> batchAdd$!{table.controllerName}(@Valid @RequestBody List<$!{cfg.voClassName}> $!{cfg.voConstName}List) throws Exception {
		List<$!{cfg.keyColumnType}> idList = $!{cfg.serviceConstName}.batchAdd$!{table.serviceName}($!{cfg.voConstName}List);
		return ApiResult.ok(idList);
	}
	
	@DeleteMapping("/{id}")
#if($!{swagger2})
	@ApiOperation(value = "删除 $!{table.comment}")
#end	
	public ApiResult<Boolean> delete$!{table.controllerName}(@PathVariable(value = "id") String id) throws Exception {
		boolean flag = $!{cfg.serviceConstName}.delete$!{table.serviceName}(id);
		return ApiResult.ok(flag);
	}
	
	@DeleteMapping("/batch")
#if($!{swagger2})
	@ApiOperation(value = "批量删除 $!{table.comment}")
#end	
	public ApiResult<Boolean> batchDelete$!{table.controllerName}(@Valid @RequestBody IdsParam idsParam) throws Exception {
		boolean flag = $!{cfg.serviceConstName}.batchDelete$!{table.serviceName}(idsParam.getIds());
		return ApiResult.ok(flag);
	}
		
	@DeleteMapping("/condition")
#if($!{swagger2})
	@ApiOperation(value = "条件删除 $!{table.comment}")
#end	
	public ApiResult<Boolean> conditionDelete$!{table.controllerName}(@Valid @RequestBody $!{cfg.deleteParamClassName} $!{cfg.deleteParamConstName}) throws Exception {
		boolean flag = $!{cfg.serviceConstName}.conditionDelete$!{table.serviceName}($!{cfg.deleteParamConstName});
		return ApiResult.ok(flag);
	}
	
	@PatchMapping
#if($!{swagger2})
	@ApiOperation(value = "更新 $!{table.comment}")
#end	
	public ApiResult<Boolean> update$!{table.controllerName}(@Valid @RequestBody $!{cfg.voClassName} $!{cfg.voConstName}) throws Exception {
		boolean flag = $!{cfg.serviceConstName}.update$!{table.serviceName}($!{cfg.voConstName});
		return ApiResult.ok(flag);
	}

	@GetMapping("/{id}")
#if($!{swagger2})
	@ApiOperation(value = "获取 $!{table.comment} 对象")
#end	
	public ApiResult<$!{cfg.voClassName}> get$!{table.controllerName}(@PathVariable(value = "id") String id) throws Exception {
		$!{cfg.voClassName} $!{cfg.voConstName} = $!{cfg.serviceConstName}.get$!{table.serviceName}ById(id);
		return ApiResult.ok($!{cfg.voConstName});
	}
	
	@GetMapping
#if($!{swagger2})
	@ApiOperation(value = "获取 $!{table.comment} 对象全部列表")
#end	
	public ApiResult<List<$!{cfg.voClassName}>> get$!{table.controllerName}AllList() throws Exception {
		List<$!{cfg.voClassName}> $!{cfg.voConstName}List = $!{cfg.serviceConstName}.get$!{table.serviceName}List(new $!{cfg.listParamClassName}());
		return ApiResult.ok($!{cfg.voConstName}List);
	}

	@PostMapping("/list")
#if($!{swagger2})
	@ApiOperation(value = "获取 $!{table.comment} 对象列表")
#end	
	public ApiResult<List<$!{cfg.voClassName}>> get$!{table.controllerName}List(@Valid @RequestBody $!{cfg.listParamClassName} $!{cfg.listParamConstName}) throws Exception {
		List<$!{cfg.voClassName}> $!{cfg.voConstName}List = $!{cfg.serviceConstName}.get$!{table.serviceName}List($!{cfg.listParamConstName});
		return ApiResult.ok($!{cfg.voConstName}List);
	}
	
	@PostMapping("/pageList")
#if($!{swagger2})
	@ApiOperation(value = "获取 $!{table.comment} 分页对象列表")
#end	
	public ApiResult<Paging<$!{cfg.voClassName}>> get$!{table.controllerName}PageList(@Valid @RequestBody $!{cfg.pageParamClassName} $!{cfg.pageParamConstName}) throws Exception {
		Paging<$!{cfg.voClassName}> $!{cfg.voConstName}List = $!{cfg.serviceConstName}.get$!{table.serviceName}PageList($!{cfg.pageParamConstName});
		return ApiResult.ok($!{cfg.voConstName}List);
	}

	@PostMapping("/count")
#if($!{swagger2})
	@ApiOperation(value = "求 $!{table.comment} 对象的记录数")
#end	
	public ApiResult<Integer> count$!{table.controllerName}(@Valid @RequestBody $!{cfg.countParamClassName} $!{cfg.countParamConstName}) throws Exception {
		Integer count = $!{cfg.serviceConstName}.count$!{table.serviceName}($!{cfg.countParamConstName});
		return ApiResult.ok(count);
	}


}

#end