package ${cfg.paramPackage};

#if(${swagger2})
import io.swagger.annotations.ApiModel;
#end
###if(${entityLombokModel})
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
###end
import ${cfg.superParamPackage}.${cfg.superPageParamClassName};

/**
 * <pre>
 * $!{table.comment} 分页参数对象
 * </pre>
 *
 * @author ${author}
 * @since 1.0
 */
###if(${entityLombokModel})
@Data
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
###end
#if(${swagger2})
@ApiModel(value = "$!{table.comment} 分页列表参数对象")
#end
public class ${cfg.get(${table.name}).pageParamClassName} extends ${cfg.superPageParamClassName} {

    private static final long serialVersionUID = 1L;


}
