package ${package.Service};

import java.io.Serializable;
import java.util.List;
import ${package.Entity}.${entity};
import ${cfg.paramPackage}.${cfg.checkParamClassName};
import ${cfg.paramPackage}.${cfg.countParamClassName};
import ${cfg.paramPackage}.${cfg.deleteParamClassName};
import ${cfg.paramPackage}.${cfg.pageParamClassName};
import ${cfg.paramPackage}.${cfg.listParamClassName};
import ${cfg.voPackage}.${cfg.voClassName};
import ${superServiceClassPackage};
import ${cfg.pageClassPath};

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since 1.0
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    /**
     * 校验 $!{table.comment} 是否已经存在
     *
     * @param ${cfg.checkParamConstName}
     * @return
     * @throws Exception
     */
    boolean check${table.serviceName}Exists(${cfg.checkParamClassName} ${cfg.checkParamConstName}) throws Exception;

    /**
     * 保存 $!{table.comment}
     *
     * @param ${cfg.voConstName}
     * @return
     * @throws Exception
     */
    ${cfg.keyColumnType} add${table.serviceName}(${cfg.voClassName} ${cfg.voConstName}) throws Exception;

    /**
     * 批量保存 $!{table.comment}
     *
     * @param ${cfg.voConstName}List
     * @return
     * @throws Exception
     */
    List<${cfg.keyColumnType}> batchAdd${table.serviceName}(List<${cfg.voClassName}> ${cfg.voConstName}List) throws Exception;

    /**
     * 删除 $!{table.comment}
     *
     * @param id
     * @return
     * @throws Exception
     */
    boolean delete${table.serviceName}(String id) throws Exception;
	
    /**
     * 删除 $!{table.comment}
     *
     * @param ids
     * @return
     * @throws Exception
     */
    boolean batchDelete${table.serviceName}(String ids) throws Exception;

    /**
     * 根据条件删除 $!{table.comment}
     *
     * @param ${cfg.deleteParamConstName}
     * @return
     * @throws Exception
     */
    boolean conditionDelete${table.serviceName}(${cfg.deleteParamClassName} ${cfg.deleteParamConstName}) throws Exception;

    /**
     * 修改 $!{table.comment}
     *
     * @param ${cfg.voConstName}
     * @return
     * @throws Exception
     */
    boolean update${table.serviceName}(${cfg.voClassName} ${cfg.voConstName}) throws Exception;

    /**
     * 根据ID获取 $!{table.comment} 对象
     *
     * @param id
     * @return
     * @throws Exception
     */
    ${cfg.voClassName} get${table.serviceName}ById(Serializable id) throws Exception;

    /**
     * 获取 $!{table.comment} 对象列表
     *
     * @param ${cfg.listParamConstName}
     * @return
     * @throws Exception
     */
    List<${cfg.voClassName}> get${table.serviceName}List(${cfg.listParamClassName} ${cfg.listParamConstName}) throws Exception;

    /**
     * 获取 $!{table.comment} 分页对象列表
     *
     * @param ${cfg.pageParamConstName}
     * @return
     * @throws Exception
     */
    Paging<${cfg.voClassName}> get${table.serviceName}PageList(${cfg.pageParamClassName} ${cfg.pageParamConstName}) throws Exception;

    /**
     * 计算 $!{table.comment} 总记录数
     *
     * @param ${cfg.countParamConstName}
     * @return
     * @throws Exception
     */
    Integer count${table.serviceName}(${cfg.countParamClassName} ${cfg.countParamConstName}) throws Exception;
	
}
#end
