package ${package.Mapper};

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${superMapperClassPackage};
import ${package.Entity}.${cfg.entityClassName};
import ${cfg.queryParamPath};
import ${cfg.pageQueryParamPath};
import ${cfg.queryVoPath};
import java.util.List;
import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;

import java.io.Serializable;

/**
 * <pre>
 * $!{table.comment} Mapper 接口
 * </pre>
 *
 * @author ${author}
 * @since ${date}
 */
@Repository
public interface ${table.mapperName} extends ${superMapperClass}<${cfg.entityClassName}> {

    /**
     * 根据ID获取 $!{table.comment} 对象
     *
     * @param id
     * @return
     */
     ${cfg.TableName}QueryVo get${cfg.TableName}ById(Serializable id);

    /**
     * 获取 $!{table.comment} 分页对象
     *
     * @param page
     * @param ${cfg.tableName}PageQueryParam
     * @return
     */
     IPage<${cfg.TableName}QueryVo> get${cfg.TableName}PageList(@Param("page") Page page, @Param("param") ${cfg.TableName}PageQueryParam ${cfg.tableName}PageQueryParam);
    
    /**
     * 获取 $!{table.comment} 对象列表
     *
     * @param ${cfg.tableName}QueryParam
     * @return
     */
     List<${cfg.TableName}QueryVo> get${cfg.TableName}List(@Param("param") ${cfg.TableName}QueryParam ${cfg.tableName}QueryParam);

}