package ${cfg.queryParamPackage};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import lombok.experimental.Accessors;

import java.io.Serializable;

/**
 * <pre>
 * $!{table.comment} 查询参数对象
 * </pre>
 *
 * @author ${author}
 * @date ${date}
 */
@Data
@Accessors(chain = true)
@ApiModel(value = "$!{table.comment} 查询参数对象", description = "$!{table.comment}查询参数")
public class ${entity}QueryParam implements Serializable {
    private static final long serialVersionUID = 1L;



}
