package ${cfg.queryVoPackage};

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

import javax.validation.constraints.Size;
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import ${cfg.superQueryVoPath};

import java.sql.Timestamp;

/**
 * <pre>
 * $!{table.comment} 查询结果对象
 * </pre>
 *
 * @author ${author}
 * @date ${date}
 */
#if(${entityLombokModel})
@Data
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
#end
@ApiModel(value = "$!{table.comment} 对象", description = "$!{table.comment} 查询参数")
public class ${cfg.TableName}QueryVo extends BaseQueryVo {

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
## 设置swagger注解以及长度校验注解
#if($!field.comment != "")
    /**
     * ${field.comment}
     */
    @ApiModelProperty(value = "${field.comment}")
#if(${field.type.indexOf("(")}!=-1)
#set($start=${field.type.indexOf("(")} + 1)
#set($end=${field.type.length()} - 1)
#set($length=${field.type.substring($start, $end)})
    @Size(max = ${length}, message = "${field.comment}长度不能超过 ${length} ！")
#end
#end
## 如果默认值为空，且值不允许为空，同时不是主键，则设置非空校验
#if(${field.customMap.null} == 'NO' && !${field.keyFlag})
#if(${field.propertyType} == 'String')
    @NotBlank(message = "${field.comment}不能为空")
#else
    @NotNull(message = "${field.comment}不能为空")
#end
    private ${field.propertyType} ${field.propertyName};
#else
    private ${field.propertyType} ${field.propertyName};
#end

#end
## ----------  END 字段循环遍历  ----------
}