<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.features.mapper.AttributesInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="org.tiankafei.features.entity.AttributesInfoEntity">
        <id column="id" property="id"/>
        <result column="features_code" property="featuresCode"/>
        <result column="attributes_code" property="attributesCode"/>
        <result column="attributes_name" property="attributesName"/>
        <result column="data_type" property="dataType"/>
        <result column="data_length" property="dataLength"/>
        <result column="data_precision" property="dataPrecision"/>
        <result column="is_null" property="isNull"/>
        <result column="default_value" property="defaultValue"/>
        <result column="description" property="description"/>
        <result column="version" property="version"/>
        <result column="delete_mark" property="deleteMark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="voResultMap" type="org.tiankafei.features.vo.AttributesInfoVo">
        <id column="id" property="id"/>
        <result column="features_code" property="featuresCode"/>
        <result column="attributes_code" property="attributesCode"/>
        <result column="attributes_name" property="attributesName"/>
        <result column="data_type" property="dataType"/>
        <result column="data_length" property="dataLength"/>
        <result column="data_precision" property="dataPrecision"/>
        <result column="is_null" property="isNull"/>
        <result column="default_value" property="defaultValue"/>
        <result column="description" property="description"/>
        <result column="version" property="version"/>
        <result column="delete_mark" property="deleteMark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, features_code, attributes_code, attributes_name, data_type, data_length, data_precision, is_null, default_value, description, version, delete_mark, create_time, update_time, create_user_id, update_user_id
    </sql>

    <!-- 校验 功能的属性注册表 是否已经存在 -->
    <select id="checkAttributesInfoServiceExists" resultType="java.lang.Boolean">

    </select>

    <!-- 保存 功能的属性注册表 -->
    <select id="addAttributesInfoService" resultType="java.lang.Object">

    </select>

    <!-- 批量保存 功能的属性注册表 -->
    <select id="batchAddAttributesInfoService" resultType="java.lang.Object">

    </select>

    <!-- 删除 功能的属性注册表 -->
    <select id="deleteAttributesInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 批量删除 功能的属性注册表 -->
    <select id="batchDeleteAttributesInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据条件删除 功能的属性注册表 -->
    <select id="conditionDeleteAttributesInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 修改 功能的属性注册表 -->
    <select id="updateAttributesInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据ID获取 功能的属性注册表 对象 -->
    <select id="getAttributesInfoServiceById" resultMap="voResultMap">

    </select>

    <!-- 获取 功能的属性注册表 对象列表 -->
    <select id="getAttributesInfoServiceList" resultMap="voResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_attributes_info
        <where>
            <if test="param.idList != null and param.idList.size != 0">
                and id in
                <foreach collection="param.idList" item="id" separator="," index="index" open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 获取 功能的属性注册表 分页对象列表 -->
    <select id="getAttributesInfoServicePageList" resultMap="voResultMap">
        select
        id
        from sys_attributes_info
        <where>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 计算 功能的属性注册表 总记录数 -->
    <select id="countAttributesInfoService" resultType="java.lang.Integer">

    </select>

</mapper>
