<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.db.mapper.AttributesInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="org.tiankafei.db.entity.AttributesInfoEntity">
        <id column="id" property="id"/>
        <result column="features_code" property="featuresCode"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="data_type" property="dataType"/>
        <result column="data_length" property="dataLength"/>
        <result column="data_precision" property="dataPrecision"/>
        <result column="is_null" property="isNull"/>
        <result column="default_value" property="defaultValue"/>
        <result column="is_insert_property" property="isInsertProperty"/>
        <result column="is_edit_property" property="isEditProperty"/>
        <result column="is_list_property" property="isListProperty"/>
        <result column="is_query_property" property="isQueryProperty"/>
        <result column="is_default_query_property" property="isDefaultQueryProperty"/>
        <result column="query_type" property="queryType"/>
        <result column="fill_type" property="fillType"/>
        <result column="search_type" property="searchType"/>
        <result column="data_source" property="dataSource"/>
        <result column="data_structure" property="dataStructure"/>
        <result column="data_url" property="dataUrl"/>
        <result column="dict_type" property="dictType"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="voResultMap" type="org.tiankafei.db.vo.AttributesInfoVo">
        <id column="id" property="id"/>
        <result column="features_code" property="featuresCode"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="data_type" property="dataType"/>
        <result column="data_length" property="dataLength"/>
        <result column="data_precision" property="dataPrecision"/>
        <result column="is_null" property="isNull"/>
        <result column="default_value" property="defaultValue"/>
        <result column="is_insert_property" property="isInsertProperty"/>
        <result column="is_edit_property" property="isEditProperty"/>
        <result column="is_list_property" property="isListProperty"/>
        <result column="is_query_property" property="isQueryProperty"/>
        <result column="is_default_query_property" property="isDefaultQueryProperty"/>
        <result column="query_type" property="queryType"/>
        <result column="fill_type" property="fillType"/>
        <result column="search_type" property="searchType"/>
        <result column="data_source" property="dataSource"/>
        <result column="data_structure" property="dataStructure"/>
        <result column="data_url" property="dataUrl"/>
        <result column="dict_type" property="dictType"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, features_code, code, name, data_type, data_length, data_precision, is_null, default_value, is_insert_property, is_edit_property, is_list_property, is_query_property, is_default_query_property, query_type, fill_type, search_type, data_source, data_structure, data_url, dict_type, del_flag, create_by, create_time, update_by, update_time, remark
    </sql>

    <!-- 校验 功能的属性注册表 是否已经存在 -->
    <select id="checkAttributesInfoServiceExists" resultType="java.lang.Boolean">

    </select>

    <!-- 保存 功能的属性注册表 -->
    <select id="addAttributesInfoService" resultType="java.lang.Object">

    </select>

    <!-- 批量保存 功能的属性注册表 -->
    <select id="batchAddAttributesInfoService" resultType="java.lang.Object">

    </select>

    <!-- 删除 功能的属性注册表 -->
    <select id="deleteAttributesInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 批量删除 功能的属性注册表 -->
    <select id="batchDeleteAttributesInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据条件删除 功能的属性注册表 -->
    <select id="conditionDeleteAttributesInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 修改 功能的属性注册表 -->
    <select id="updateAttributesInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据ID获取 功能的属性注册表 对象 -->
    <select id="getAttributesInfoServiceById" resultMap="voResultMap">

    </select>

    <!-- 获取 功能的属性注册表 对象列表 -->
    <select id="getAttributesInfoServiceList" resultMap="voResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_attributes_info
        <where>
            <if test="param.idList != null and param.idList.size != 0">
                and id in
                <foreach collection="param.idList" item="id" separator="," index="index" open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 获取 功能的属性注册表 分页对象列表 -->
    <select id="getAttributesInfoServicePageList" resultMap="voResultMap">
        select
        id
        from sys_attributes_info
        <where>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 计算 功能的属性注册表 总记录数 -->
    <select id="countAttributesInfoService" resultType="java.lang.Integer">

    </select>

</mapper>
