<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.elasticsearch.mapper.DatasourceMapper">

    <resultMap id="datasourceMap" type="org.tiankafei.elasticsearch.entity.DatasourceEntity">
        <id property="id" column="user_info_id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="telephone" column="telephone"/>
        <result property="gender" column="gender"/>
        <result property="bornTime" column="born_time"/>
        <result property="avatar" column="avatar"/>
        <result property="remark" column="remark"/>
        <result property="userType" column="user_type"/>
        <result property="deptId" column="dept_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <select id="getData" resultMap="datasourceMap">
        SELECT t1.*
                 FROM sys_user_info t1
                 JOIN sys_user_login t2 ON t1.id = t2.id and t1.username=t2.username and t1.delete_mark = 0 and t1.delete_mark = 0
                 LEFT JOIN sys_user_role t3 ON t2.id = t3.user_id and t3.`status` = 1
                 LEFT JOIN sys_role_info t4 ON t3.role_id = t4.id and t4.`status` = 1 and t4.delete_mark = 0
                 LEFT JOIN sys_role_menu t5 ON t4.id = t5.role_id
                 LEFT JOIN sys_menu_info t6 ON t5.menu_id = t6.id and t6.`status` = 1 and t6.delete_mark = 0
    </select>

</mapper>
