<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.user.mapper.SysDictTableMapper">

            <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, description, remarks, parent_id, all_parent_id, level, unit1, unit2, unit3, unit4, unit5, unit6, create_time, update_time, create_user_id
    </sql>

    <select id="getSysDictTableList" resultType="org.tiankafei.user.vo.SysDictTableQueryVo">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_table
    </select>

</mapper>
