<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.user.mapper.SysMenuInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_code, menu_name, icon, menu_type, open_type, path, is_outside_url, status, keys, parent_id, serial_number, description, create_time, update_time, create_user_id, update_user_id
    </sql>

    <select id="getSysMenuInfoList" resultType="org.tiankafei.user.vo.SysMenuInfoQueryVo">
        select
        <include refid="Base_Column_List"/>
        from sys_menu_info
    </select>

</mapper>
