<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.user.mapper.DictTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="org.tiankafei.user.entity.DictTableEntity">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="remarks" property="remarks"/>
        <result column="parent_id" property="parentId"/>
        <result column="all_parent_id" property="allParentId"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="level" property="level"/>
        <result column="unit1" property="unit1"/>
        <result column="unit2" property="unit2"/>
        <result column="unit3" property="unit3"/>
        <result column="unit4" property="unit4"/>
        <result column="unit5" property="unit5"/>
        <result column="unit6" property="unit6"/>
        <result column="version" property="version"/>
        <result column="delete_mark" property="deleteMark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="voResultMap" type="org.tiankafei.user.vo.DictTableVo">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="remarks" property="remarks"/>
        <result column="parent_id" property="parentId"/>
        <result column="all_parent_id" property="allParentId"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="level" property="level"/>
        <result column="unit1" property="unit1"/>
        <result column="unit2" property="unit2"/>
        <result column="unit3" property="unit3"/>
        <result column="unit4" property="unit4"/>
        <result column="unit5" property="unit5"/>
        <result column="unit6" property="unit6"/>
        <result column="version" property="version"/>
        <result column="delete_mark" property="deleteMark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, code, name, description, remarks, parent_id, all_parent_id, serial_number, level, unit1, unit2, unit3, unit4, unit5, unit6, version, delete_mark, create_time, update_time, create_user_id, update_user_id, tenant_id
    </sql>

    <!-- 校验 系统数据字典的数据表 是否已经存在 -->
    <select id="checkDictTableServiceExists" resultType="java.lang.Boolean">

    </select>

    <!-- 保存 系统数据字典的数据表 -->
    <select id="addDictTableService" resultType="java.lang.Object">

    </select>

    <!-- 批量保存 系统数据字典的数据表 -->
    <select id="batchAddDictTableService" resultType="java.lang.Object">

    </select>

    <!-- 删除 系统数据字典的数据表 -->
    <select id="deleteDictTableService" resultType="java.lang.Boolean">

    </select>

    <!-- 批量删除 系统数据字典的数据表 -->
    <select id="batchDeleteDictTableService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据条件删除 系统数据字典的数据表 -->
    <select id="conditionDeleteDictTableService" resultType="java.lang.Boolean">

    </select>

    <!-- 修改 系统数据字典的数据表 -->
    <select id="updateDictTableService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据ID获取 系统数据字典的数据表 对象 -->
    <select id="getDictTableServiceById" resultMap="voResultMap">

    </select>

    <!-- 获取 系统数据字典的数据表 对象列表 -->
    <select id="getDictTableServiceList" resultMap="voResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_dict_table
        <where>
            <if test="param.idList != null and param.idList.size != 0">
                and id in
                <foreach collection="param.idList" item="id" separator="," index="index" open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
        order by serial_number
    </select>

    <!-- 根据父ID获取 子系统数据字典项集合 -->
    <select id="getDictTableChildrenService" resultMap="voResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_dict_table
        <where>
            <choose>
                <when test="param == -1">
                    parent_id is null
                </when>
                <otherwise>
                    parent_id = #{param}
                </otherwise>
            </choose>
        </where>
        order by serial_number
    </select>

    <!-- 获取 系统数据字典的数据表 分页对象列表 -->
    <select id="getDictTableServicePageList" resultMap="voResultMap">
        select
        id
        from sys_dict_table
        <where>
            <if test="param.code != null and param.code != ''">
                and code like concat(#{param.code}, '%')
            </if>
            <if test="param.name != null and param.name != ''">
                and name like concat('%', #{param.name}, '%')
            </if>
            <if test="param.beginTime != null">
                and `create_time` &gt;= #{param.beginTime}
            </if>
            <if test="param.endTime != null">
                and `create_time` &lt;= #{param.endTime}
            </if>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
        order by serial_number
    </select>

    <!-- 计算 系统数据字典的数据表 总记录数 -->
    <select id="countDictTableService" resultType="java.lang.Integer">

    </select>

</mapper>
