<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.user.mapper.LinksInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="org.tiankafei.user.entity.LinksInfoEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="links" property="links"/>
        <result column="status" property="status"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="version" property="version"/>
        <result column="delete_mark" property="deleteMark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="voResultMap" type="org.tiankafei.user.vo.LinksInfoVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="links" property="links"/>
        <result column="status" property="status"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="version" property="version"/>
        <result column="delete_mark" property="deleteMark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, name, links, status, serial_number, version, delete_mark, create_time, update_time, create_user_id, update_user_id, tenant_id
    </sql>

    <!-- 校验 系统的友情链接 是否已经存在 -->
    <select id="checkLinksInfoServiceExists" resultType="java.lang.Boolean">

    </select>

    <!-- 保存 系统的友情链接 -->
    <select id="addLinksInfoService" resultType="java.lang.Object">

    </select>

    <!-- 批量保存 系统的友情链接 -->
    <select id="batchAddLinksInfoService" resultType="java.lang.Object">

    </select>

    <!-- 删除 系统的友情链接 -->
    <select id="deleteLinksInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 批量删除 系统的友情链接 -->
    <select id="batchDeleteLinksInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据条件删除 系统的友情链接 -->
    <select id="conditionDeleteLinksInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 修改 系统的友情链接 -->
    <select id="updateLinksInfoService" resultType="java.lang.Boolean">

    </select>

    <!-- 根据ID获取 系统的友情链接 对象 -->
    <select id="getLinksInfoServiceById" resultMap="voResultMap">

    </select>

    <!-- 获取 系统的友情链接 对象列表 -->
    <select id="getLinksInfoServiceList" resultMap="voResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_links_info
        <where>
            <if test="param.idList != null and param.idList.size != 0">
                and id in
                <foreach collection="param.idList" item="id" separator="," index="index" open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 获取 系统的友情链接 分页对象列表 -->
    <select id="getLinksInfoServicePageList" resultMap="voResultMap">
        select
        id
        from sys_links_info
        <where>
            <if test="param.deleteMark != null">
                and delete_mark = #{param.deleteMark}
            </if>
        </where>
    </select>

    <!-- 计算 系统的友情链接 总记录数 -->
    <select id="countLinksInfoService" resultType="java.lang.Integer">

    </select>

</mapper>
