<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.user.mapper.RoleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="org.tiankafei.user.vo.RoleInfoVo">
        <id column="id" property="id"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, role_code, role_name, status, description, remark, create_time, update_time, create_user_id, update_user_id
    </sql>

    <!-- 根据主键获取 角色信息表 对象 -->
    <select id="getSysRoleInfoById" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_role_info where id = #{id}
    </select>

    <!-- 分页查询 角色信息表 对象集合 -->
    <select id="getSysRoleInfoPageList" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_role_info
    </select>

    <!-- 查询 角色信息表 对象集合 -->
    <select id="getSysRoleInfoList" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_role_info
    </select>

</mapper>
