<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.user.mapper.UserLoginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="org.tiankafei.user.vo.UserLoginVo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="telephone" property="telephone"/>
        <result column="password" property="password"/>
        <result column="status" property="status"/>
        <result column="expiration_date" property="expirationDate"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, username, email, telephone, password, status, expiration_date, create_time
    </sql>

    <!-- 根据主键获取 用户登录信息表 对象 -->
    <select id="getSysUserLoginById" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_user_login where id = #{id}
    </select>

    <!-- 分页查询 用户登录信息表 对象集合 -->
    <select id="getSysUserLoginPageList" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_user_login
    </select>

    <!-- 查询 用户登录信息表 对象集合 -->
    <select id="getSysUserLoginList" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from sys_user_login
    </select>

</mapper>
