<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiankafei.multidatasource.secondary.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="org.tiankafei.multidatasource.secondary.entity.UserInfoEntity">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
        <result column="telephone" property="telephone"/>
        <result column="gender" property="gender"/>
        <result column="born_time" property="bornTime"/>
        <result column="avatar" property="avatar"/>
        <result column="remark" property="remark"/>
        <result column="user_type" property="userType"/>
        <result column="dept_id" property="deptId"/>
        <result column="version" property="version"/>
        <result column="delete_mark" property="deleteMark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, username, nickname, email, telephone, gender, born_time, avatar, remark, user_type, dept_id, version, delete_mark, create_time, update_time, create_user_id, update_user_id
    </sql>

    <!-- 根据ID获取 用户基本信息表 对象 -->
    <select id="getUserInfoServiceById" resultMap="baseResultMap">

    </select>

</mapper>
